<html>
  <head>
    <meta charset="utf-8">
    <title>Audencia landing</title>

    
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='style.css' rel='stylesheet'>
  </head>
  
  <body>

<div id="banner">
  <h1>My Playground App</h1>
  <p>This is the important line everyone reads...</p>
  <a class="btn btn-default" href="#">Start now</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img src="images/fast.png" alt="picture description">
          <h2>Fast</h2>
         <p>A fast app, <strong>very fast</strong> app</p>
        </div>   
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
          <img src="images/easy.png" alt="picture description">
          <h2>Simple</h2>
          <p>A simple app, <strong>very simple</strong> app</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
          <img src="images/awesome.png" alt="picture description">
          <h2>Awesome</h2>
          <p>An awesome app, <strong>very awesome</strong> app</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card">
          <img src="images/beautiful.png" alt="picture description">
          <h2>Beautiful</h2>
          <p>A beautiful app, <strong>very beautiful</strong> app</p>
        </div>    
      </div>
  </div>
</div>

<div class="container">
  <div class="row"> 
    <div class="col-xs-12 col-sm-offset-2 col-sm-8"> 
      <div class= "form-wufoo">
        <div id="wufoo-z990fs60sf1wpc">
Fill out my <a href="https://lgalletti.wufoo.com/forms/z990fs60sf1wpc">online form</a>.
        </div>
<script type="text/javascript">var z990fs60sf1wpc;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'lgalletti',
'formHash':'z990fs60sf1wpc',
'autoResize':true,
'height':'517',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z990fs60sf1wpc = new WufooForm();z990fs60sf1wpc.initialize(options);z990fs60sf1wpc.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
      </div>  
    </div> 
  </div>  
</div>



  


<div id="footer">
  <p>   This is a playground landing ©Le Wagon</p>
  <ul class="list-inline">
  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-github"></i></a></li>
</ul>
</div>

</body>
</html>