/* style.css */
body{
  background: #F0ECE9;
  color: #000505;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}
h1{
  font-family: 'Slabo 27px', serif;
  color: #3B3355;
  font-weight: lighter;
  font-size: 42px;
}
h2 {
  font-family: 'Slabo 27px', serif;
  color: #523F72;
  font-weight: bolder;
  font-size: 24px;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

#banner{
  text-align: center;
  background-image: url("https://static.pexels.com/photos/220118/pexels-photo-220118.jpeg");
  background-size: cover;
  padding: 120px;
  color: white;
}

#banner h1 {
  color: white;
  font-size: 60px;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 26px;
  font-weight: lighter;
}

#footer{
  background: rgb(30, 30, 30);
  color: white;
  font-size: 16px;
  background-color: #090B2A;
  padding: 10px;
  text-align: center;
}

.card{
  padding: 42px;
  font-weight: lighter;
  text-align: center;
}

.card img {
  height: 100px;
}

#footer a {
  color: white;
  font-size: 24px;
  padding: 10px;
}

#footer a:hover {
  color: #090B2A;
}
